
html{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.weather-header{
    background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 100%);

}

input{
    margin-top: 1px;
    border: 1px solid black;
    height: 70px;
    padding: 10px;
    
}
input[type="text"]{
    font-size: 25px;
    
}
.half-rule{
    border: 0;
    border-top: solid 1px rgba(0,0,0,0.5) ;
}
.btn{
    width: 100%;
    margin-top: 5px;
}
hr{
    margin-left: 0;
    margin-right: 0;
}
.btn.gradient{
    /* From https://css.glass */
background: rgba(50, 32, 221, 0.8);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(50, 32, 221, 0.91);
}

.btn.solid{
/* From https://css.glass */
background: rgba(177, 182, 182, 0.81);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(177, 182, 182, 0.91);
margin-bottom: 10px;
}

.btn.gradient:hover, .btn.gradient:focus{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.51);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(255, 255, 255, 0.91);
}

.btn.solid:hover, .btn.solid:focus{
    /* From https://css.glass */
background: rgba(177, 182, 182, 0.81);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.3px);
-webkit-backdrop-filter: blur(0.3px);
border: 1px solid rgba(111, 219, 219, 0.91);
}

.previousbutton{
    display: none;
}

.currentWeather{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-top: 10px;
    width: 111.5%;
    height: 200px
}

.search-for-a-city{
    font-size: 24px;
}

#forecast1, #forecast10, #forecast19, #forecast28, #forecast37 {
    /* From https://css.glass */
    background: rgba(7, 3, 57, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(7, 3, 57, 0.3);
    color: #fff;
    margin-right: 16px;
    font-size: 14px;
}

.forecasts-div{
    width: 125%;
    margin-left: -20px;
    
}

@media screen and (max-width: 1280px), and (max-device-width: 1280px){

    .search-for-a-city{
        color: black;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 5px;
    }

    .forecasts-div{
        width: 126%;
    }
}