
html{
    height: 100%;
    overflow-x: hidden;
   overflow-y: hidden;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}
.weather-header{
    background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 54%, rgba(0,212,255,1) 100%);
height: 100%;

}

input{
    margin-top: 1px;
    border: 1px solid black;
    height: 70px;
    padding: 10px;
    
}
input[type="text"]{
    font-size: 25px;
    
}
.half-rule{
    border: 0;
    border-top: solid 1px rgba(0,0,0,0.5) ;
}
.btn{
    width: 100%;
    margin-top: 5px;
}
hr{
    margin-left: 0;
    margin-right: 0;
}
.btn.gradient{
    /* From https://css.glass */
background: rgba(50, 32, 221, 0.8);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(50, 32, 221, 0.91);
}

.btn.solid{
/* From https://css.glass */
background: rgba(177, 182, 182, 0.81);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(177, 182, 182, 0.91);
margin-bottom: 10px;
}

.btn.gradient:hover, .btn.gradient:focus{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.51);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(255, 255, 255, 0.91);
}

.btn.solid:hover, .btn.solid:focus{
    /* From https://css.glass */
background: rgba(177, 182, 182, 0.81);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.3px);
-webkit-backdrop-filter: blur(0.3px);
border: 1px solid rgba(111, 219, 219, 0.91);
}

.previousbutton{
    display: none;
}

.currentWeather{
    display: block;
    border: 2px solid black;
    margin-top: 10px;
    width: 100%;
    height: 200px
}

.search-for-a-city{
    font-size: 24px;
}

#forecast1, #forecast10, #forecast19, #forecast28, #forecast37 {
    /* From https://css.glass */
    background: rgba(7, 3, 57, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(7, 3, 57, 0.3);
    color: #fff;
    margin-right: 16px;
    font-size: 14px;
}

.forecasts-div{
    width: 125%;
    margin-left: -20px;
    
}

@media screen and (max-width: 1280px), and (max-device-width: 1280px){

    .search-for-a-city{
        color: black;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 5px;
    }
    input{
        width: 100%
    }

    .forecasts-div{
        width: 126%;
    }
}

@media screen and (max-width: 1024px), and (max-device-width: 1024px){
    html{
        overflow-y:scroll;
    }
    .search-for-a-city{
        color: black;
        font-weight: bold;
        margin-top: 5px;
        margin-right: 5px;
    }
    input{
        width: 100%;
        height: 40px;
    }

    .forecasts-div{
        width: 100%;
        margin-left: 10px;
      
    }
    .forecast h5{
        margin-left: 5px;;
    }

    #forecast1, #forecast10, #forecast19, #forecast28, #forecast37{
        height: 250px;
        font-size: 12px;
        margin-left: -10px;
        flex-wrap: wrap;

    }

    #city{
        margin-left: 10px;
    }
    #results-list{
        list-style:circle;
    }
}

@media screen and (max-width: 912px), and (max-device-width: 912px){
    html{
        overflow-y:scroll;
    }
    input{
        width: 50%;
    }
    #search-button{
        width: 50%;
    }
  

    .previousbutton{
        width: 50%;
    }
    hr{
        width: 50%;
    }

    .currentWeather{
       position: relative;
        height: 370px;
        
          
    }

    #city{
        font-size: 22px;
    }
    

    .forecasts-div{
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .forecast h5{
        margin-left: 18px;
    }



    #forecast1, #forecast10, #forecast19, #forecast28, #forecast37{

        width: 168px;
        margin-left: -5px;
    }
}

@media screen and (max-width: 820px), and (max-device-width: 820px){
    html{
        overflow-y: scroll;
    }
    .currentWeather{

        width: 400px;
        position: relative;
        top: -385px;
        left: 432px;
        
        
    }
    .forecast{
        margin-top: -300px;
    }

    .forecasts-div{
        width: 70%;
        margin-left: 40px;
    }
    #forecast1, #forecast10, #forecast19, #forecast28, #forecast37{

        width: 160px;
        margin: 5px;
    }


}


@media screen and (max-width: 768px), and (max-device-width: 768px){
    html{
        overflow-y: scroll;
    }
   input{
    width: 334px;
   }

   #search-button{
    width: 334px;
   }

   .btn{
    width: 334px;
   }

   hr{
    width: 334px;
   }

   .currentWeather{
    width: 434px;
    border: 1px solid black;
    position: relative;
    top: -380px;

   }

   .search-for-a-city{

   }
   #results-list{
    font-size: 26px;
    margin-top: 15px;
   }

   #forecast1, #forecast10, #forecast19, #forecast28, #forecast37{
    height: 240px;

   }
   .forecasts-div{
    margin-top: -10px;
   }


   

}

@media screen and (max-width: 540px), and (max-device-width: 540px){

    html{
        overflow-y: scroll;
    }
    input{
        width: 255px;
        height: 20px;
    }
    input[type="text"]{
        font-size: 18px;
    }

    .currentWeather{
        width: 275px;
        height: 335px;
        border: 1px solid black;
        position: relative;
        left: 279px;
        top: -418px;

    }

    .previousbutton{
        width: 255px;
       
    }

    #search-button{
        width: 255px;
    }

    hr{
        width: 255px;
    }

    #results-list{
        
    }

    #city{
        font-size: 22px;
    }
     #humidity, #wind, #temp{
        font-size: 18px ;
    }


}




@media screen and (max-width: 414px), and (max-device-width: 414px){

    html{
        overflow-y: scroll;
    }

    input{
        width: 206px;
    }

    input[type="text"]{
        font-size: 12px;
    }

    #search-button{
        width: 206px;
    }

    .previousbutton{
        width: 206px;
    }

    .currentWeather{
        width: 206px;
        border: 1px solid black;
        position: absolute;
        top: -450px;
        left: 250px;

    }

    #city{
        font-size: 20px;
    }

    hr{
        width: 206px;
    }
    .forecast{
        margin-top: 15px;
    }
    .forecasts-div{
        width: 412px;
        margin-left: 15px;

    }

    #forecast1, #forecast10, #forecast19, #forecast28, #forecast37{
        width: 140px;
        height: 250px;
    }
}


@media screen and (max-width: 393px), and (max-device-width: 393px){

    input{
        width: 190px;
    }

    .previousbutton{
        width: 190px;
    }

    #search-button{
        width: 190px;
    }

    hr{
        width: 190px;
    }

    .currentWeather{
        height: 130px;
        position: relative;
        top: -130px;
        right: 200px;
        width: 150px;
    }

    .forecast{
        position: relative;
        top: -120px;
    }


}

@media screen and (max-width: 360px), and (max-device-width: 360px){
.currentWeather{
    left: 230px;
    width: 160px;
}

#temp, #wind, #humidity{
    font-size: 16px;
}

#city{
    font-size: 18px;
}

}